.cart-content {
    overflow: auto;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.cart-img {
    width: 150px;
    height: 170px;
    object-fit: contain;
    float: left;
    margin-right: 50px;
}

.delete-logo {
    width: 20px;
    height: 20px;
}

.cart-content p {
    display: block;
    margin-bottom: 5px;
}