@font-face {
    font-family: 'Alexander';
    src: local('Alexander'), url('alexander.woff2') format('woff2'), url('alexander.woff') format('woff'), url('alexander.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
